# Default values for lightrag-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

lightrag:
  image:
    repository: viktorbuild/enefitbot
    tag: latest
    pullPolicy: IfNotPresent
  name: lightrag
  containerName: lightrag-app
  port: 9621
  service:
    type: ClusterIP
    port: 9621
    targetPort: 9621
  persistence:
    enabled: true
    ragStorage:
      name: lightrag-rag-storage
      size: 1Gi # Adjust size as needed
      accessModes:
        - ReadWriteOnce
    inputs:
      name: lightrag-inputs
      size: 1Gi # Adjust size as needed
      accessModes:
        - ReadWriteOnce
  secret:
    apiKeySecret: supersecretapikey
    tokenSecret: supersecret
    apiEndpoint: https://api.example.com
    apiKey: 4711
    account: admin:admin
  env:
    PORT: 9621
    WEBUI_TITLE: Graph RAG Engine
    WEBUI_DESCRIPTION: Simple and Fast Graph Based RAG System
    SUMMARY_LANGUAGE: English
    TIMEOUT: 60
    TEMPERATURE: 0.5
    MAX_ASYNC: 4
    MAX_TOKENS: 30000
    ENABLE_LLM_CACHE: true
    ENABLE_LLM_CACHE_FOR_EXTRACT: true
    LLM_BINDING: azure_openai
    LLM_MODEL: gpt-4.1-mini
    EMBEDDING_MODEL: text-embedding-3-small
    EMBEDDING_DIM: 1536
    EMBEDDING_BINDING: azure_openai
    AZURE_OPENAI_API_VERSION: 2024-12-01-preview
    AZURE_OPENAI_DEPLOYMENT: gpt-4.1-mini
    AZURE_EMBEDDING_DEPLOYMENT: text-embedding-3-small
    AZURE_EMBEDDING_API_VERSION: 2024-02-01
    LIGHTRAG_KV_STORAGE: JsonKVStorage
    LIGHTRAG_VECTOR_STORAGE: NanoVectorDBStorage
    LIGHTRAG_GRAPH_STORAGE: Neo4JStorage
    LIGHTRAG_DOC_STATUS_STORAGE: JsonDocStatusStorage
    NEO4J_USERNAME: neo4j
    TOKEN_EXPIRE_HOURS: 4
    GUEST_TOKEN_EXPIRE_HOURS: 4
    JWT_ALGORITHM: HS256
    WHITELIST_PATHS: /health,/api/*


neo4j:
  image:
    repository: neo4j
    tag: 5.26.4-community
    pullPolicy: IfNotPresent
  name: neo4j
  containerName: lightrag-neo4j
  ports:
    browser: 7474
    bolt: 7687
  service:
    type: ClusterIP
    browserPort: 7474
    boltPort: 7687
    browserTargetPort: 7474
    boltTargetPort: 7687
  persistence:
    enabled: true
    import:
      name: lightrag-neo4j-import
      size: 1Gi # Adjust size as needed
      accessModes:
        - ReadWriteOnce
    data:
      name: lightrag-neo4j-data
      size: 10Gi # Adjust size as needed
      accessModes:
        - ReadWriteOnce
    backups:
      name: lightrag-neo4j-backups
      size: 5Gi # Adjust size as needed
      accessModes:
        - ReadWriteOnce
  environment:
    NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"
    NEO4J_apoc_export_file_enabled: "true"
    NEO4J_apoc_import_file_enabled: "true"
    NEO4J_apoc_import_file_use__neo4j__config: "true"
    NEO4J_server_default__listen__address: "0.0.0.0"
    NEO4J_server_default__advertised__address: "neo4j"
  secret:
    neo4jUsername: "neo4j" # Default, change this in a production environment or via --set
    neo4jPassword: "password" # Default, change this in a production environment or via --set
    neo4jEndpoint: bolt://neo4j:7687

# Global settings
commonLabels: {}